{% extends "base_site.html" %}
{% load static %}

{% block content %}
 <!-- Begin Page Content -->
 <div class="container-fluid main-container-fluid mb-3 page-content">
  {% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Forum</h1>
    </div>

    <!-- Content Row -->
    {% if user.is_authenticated %}
    <p class="mw-50">Selamat datang di forum!</p>
    {% else %}
    <div style="min-height: 400px;">
    Anda perlu login untuk mengakses forum. Login
    <a href="/login">disini</a>.
    </div>
    {% endif %}

    <!-- Button trigger modal -->
    {% if user.is_authenticated %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Buat Postingan Baru +
  </button>
  
  {% for post in posts %}
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between">
      {{post.title}}
      {% if post.username == username %}
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Hapus Postingan?</div>
            <input type="hidden" value="{{ post.pk }}">
            <a class="dropdown-item delete-link" data-toggle="modal" data-target="#deleteModal">Hapus</a>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{post.text}}</p>  
        <div class="d-flex justify-content-between">
        <footer class="blockquote-footer">{{post.username}}</footer>
        <div>
          <button type="button" class="btn btn-secondary cancel invisible" data-toggle="collapse" data-target="#collapseExample{{ post.pk }}" aria-expanded="false" aria-controls="collapseExample">Kembali</button>
          <button type="button" form="reply-form{{ post.pk }}" value="{{ post.pk }}" class="btn btn-success reply" data-toggle="collapse" data-target="#collapseExample{{ post.pk }}" aria-expanded="false" aria-controls="collapseExample" id="reply{{ post.pk }}">Balas</button>
        </div>
      </div>
    </blockquote>
    </div>
    <form method="POST" action="/reply_post/" id="reply-form{{ post.pk }}">
      {% csrf_token %}
    <div class="collapse ml-3 mr-3" id="collapseExample{{ post.pk }}">
      <div class="form-group">
        <input type="hidden" value="{{ post.pk }}" name="to">
        <input type="hidden" value="{{ username }}" name="From">
        <textarea class="form-control reply-area" id="replyArea{{ post.pk }}" name="reply" rows="3" required></textarea>
      </div>
      <p class="text-danger" id="emptyArea{{ post.pk }}"></p>
    </div>
  </form>
  <div class="d-flex justify-content-end mr-3 mb-2">
    <a class="view-reply" data-toggle="collapse" href="#replies{{post.pk}}" role="button" aria-expanded="false" aria-controls="collapseExample" value="{{post.pk}}" onclick="getReplies(this)">Lihat Balasan</a>
  </div>
  <div class="collapse" id="replies{{post.pk}}"></div>
  </div>
  {% endfor %}

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Hapus Postingan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Apakah anda yakin ingin menghapus postingan ini?
        </div>
        <form method="POST" action="/delete_post/">
          {% csrf_token %}
          <input type="hidden" value="" name="pk" id="pk">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
          <button type="submit" class="btn btn-danger">Hapus</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <script>

  </script>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buat Postingan Baru</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" value="{{ username }}" name="username">
          <div class="form-group">
            <label for="title">Judul</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
            <div class="form-group">
                <label for="text">Apa yang ingin anda bagikan?</label>
                <textarea class="form-control" id="text" name="text" rows="10"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
          <button type="submit" class="btn btn-primary">Unggah</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  {% endif %}
  
<!-- /.container-fluid -->
{% endblock %}

{% block script %}
<!-- forum scripts -->
<script src="{% static 'js/crud.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}