{% extends "base_site.html" %}
{% load static %}
{% load custom_filters %}

{% block import %}
{% block landing_css %}
<style>
  .card-deck a{
    text-decoration: inherit;
    color: inherit;
  }
  .card-deck a:hover{
    text-decoration: inherit;
    color: inherit;
  }
  .group-card-1, .group-card-2{
    visibility: hidden;
    display: none;
  }
  .card-deck{
    height: 100% !important;
  }
  .card-deck .card{
    width: 400px;
  }
  .card-deck a{
    visibility: hidden;
  }
  .card-deck a[data-kelompok="1"], .card-deck a[data-kelompok="2"]{
    display: none;
    visibility: hidden;
  }
  .page-item.active{
    cursor:auto;
  }
  @media only screen and (max-width: 450px)
  {
    .card-deck a .card{
      width: 95%;
    }
  }
</style>
{% endblock %}
<style>
#rekomen a{
  visibility:hidden;
}
#rekomen h5{
  text-overflow: ellipsis;
}
</style>
{% endblock %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 text-gray-800 mb-0">
          {% if title %}{{ title }}{% else %}Berita Covid-19 Terkini{% endif %}</h1>
    </div>
    <div class="row">
      {% block article %}
        <div id="content" class="col-md-9 card mb-5" style="padding: 0;">
            <div class="card-header p-3">
              <div class="d-flex justify-content-start">
                  <div class="btn-group mr-3" id="ordering" role="group">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="dropdown">
                      Urutkan berdasarkan
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item active" href="javascript:void(0)" data-val="viewed">
                        Paling dilihat
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" data-val="created">
                        Terbaru
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" data-val="num_commented">
                        Paling banyak dikomentari
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" data-val="num_liked">
                        Paling disuka
                      </a>
                    </div>
                    <button type="button" class="btn btn-primary" id="sort-by">
                      <i class="fas fa-caret-up"></i>
                    </button>
                  </div>
                  <div class="dropdown" id="showing">
                    <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                      Jumlah ditampilkan
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item active" href="javascript:void(0)" data-val="1">
                        10
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" data-val="2">
                        20
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" data-val="3">
                        30
                      </a>
                    </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 py-2 bg-info" style="width:100%;">
              <div class="card-deck justify-content-around">
                {% for index in 30|range %}
                <a data-index="{{ index }}" data-kelompok="{{ index|div:10 }}">
                    <div class="card my-1 mx-2 shadow">
                      <div class="card-body pb-0 px-0 ">
                        <div class="font-weight-bold px-3 text-primary" style="height:100%;text-overflow: ellipsis;">titlenya</div>
                        <div class="card-footer berita-footer d-flex justify-content-around py-1 px-2">
                          <div class="left-footer text-secondary">
                            <span class="author">&nbsp;author</span>,&nbsp;<span class="date">date</span>
                          </div>
                          <div class="right-footer">
                            <ul>
                              <li class="text-dark" style="display:inline-block"><i class="fas fa-eye"></i><span>2number</span>&nbsp;</li>
                              <li class="text-danger" style="display:inline-block"><i class="fas fa-heart"></i><span>2number</span>&nbsp;</li>
                              <li class="text-success" style="display:inline-block"><i class="fa fa-comment"></i><span>2number</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                {% endfor %}
                </div>
            </div>
            <div class="card-footer">
              <ul class="pagination" style="margin:0;" >
                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" data-val="first"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" data-val="prev"><i class="fas fa-angle-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)" data-val="current">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)" data-val="next"><i class="fas fa-angle-right"></i></a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)" data-val="last"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
          {% endblock %}
        <div class="col-md-3" id="rekomendasi">
          <div class="card shadow mb-4">
            <div class="card-header p-2">
            <h4 class="font-weight-bold text-primary text-center mb-0">Artikel lainnya</h4>
          </div>
          <div class="card-body">
            <div class="list-group" id="rekomen">
              {% for i in 5|range %}
                <a href="#" class="list-group-item list-group-item-action" data-urutan="{{ i }}">
                  <div class="d-flex flex-column w-100 justify-content-between">
                    <h5 class="mb-1 text-primary" data-type="title">title</h5>
                    <small class="text-muted" data-type="date">date</small>
                  </div>
                  <p class="mb-1" data-type="author">author</p>
                </a>
                {% endfor %}
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
{% block script %}
{% block landing_script %}
<script>
  const banyakElemen = {{ banyak_elemen }};
  var ordering = 'viewed';
  var descending= true;
  var showing = 1;
  var page_num = 1;
</script>
<script src="{% static 'js/berita.js' %}"></script>
{% endblock %}
<script>
  $(document).ready(function(){
    $.ajax({
      url:"/berita/?rekomendasi=true",
      dataType:"json",
      success: function(xhr){
        var data = xhr.data;
        $('#rekomen a').each(function (index){
          if (index >= data.length)
          {
            $(this).slideUp('slow');
            setTimeout($(this).remove, 600);
          }
          else{
            $(this).attr('href', '/berita/view?id='+data[index].id.toString());
            $(this).find("h5").html(data[index].title);
            $(this).find("small").html(data[index].date);
            $(this).find("p").html(data[index].author);
            $(this).hover(function(){
              $(this).addClass('active');
              $(this).find("h5").removeClass('text-primary').addClass('font-weight-bold');
              $(this).find('small').removeClass('text-muted');
              $(this).find('p').addClass('text-light');
            }, function(){
              $(this).removeClass('active');
              $(this).find("h5").addClass('text-primary').removeClass('font-weight-bold');
              $(this).find('small').addClass('text-muted');
              $(this).find('p').removeClass('text-light');
            });
            $(this).on('click', function(){
              $(this).addClass('active');
              $(this).find("h5").removeClass('text-primary');
              $(this).find('small').removeClass('text-muted');
              $(this).find('p').addClass('text-light');
            });
            $(this).fadeIn();
            $(this).css({"opacity":0, "visibility":'visible'}).animate({opacity:1}, 'slow');
          }
        });
      }
    });
  });
</script>
{% endblock %}
