{% extends "base_site.html" %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid" style="min-height: 80vh; display: flex; align-items: center; flex-direction: column;">
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
    <div class="container mt-1 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <div class="card p-3 py-5">
                    <div class="row mt-3 d-flex justify-content-center">
                        <h3>Rumah Sakit Tersimpan</h3>
                    </div>

                    <h1 id="rs_id" style="display:none;">{{rs_id}}</h1>
                    
                    <div id='daftar-rs' class="container d-flex flex-wrap mb-3">

                    </div>

                    <style>
                        h3 {
                            color:#5f5b5b;
                            height: 70px;
                            margin-top: 1%;
                        }
                        h6 {
                            padding-bottom: 7px;
                            color:#5f5b5b;
                        }
                        .card {
                            margin: 0 auto;
                            float: none;
                            margin-bottom: 10px;
                            margin-top: 30px;
                        }
                        .select {
                            margin-bottom: 30px;
                            margin-top: 5px;
                        }
                    </style>

                    <div class="row mt-3 mb-4 d-flex justify-content-center">
                        <div class="buttons">
                            <a href="/rumahsakit" class="btn btn-success btn-icon-split">
                                <span class="text">Cari Rumah Sakit</span>
                            </a>
                            <a href="/" class="btn btn-info btn-icon-split">
                                <span class="text">Kembali ke Dashboard</span>
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block script %}
<script src="{% static 'js/ambil-daftar-rs.js' %}"></script>
{% endblock %}