{% extends "base_site.html" %}
{% load static %}

{% block content %}
 <!-- Begin Page Content -->
 <div class="container-fluid">
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Data Covid-19 Indonesia Terkini</h1>
        <div>
            <p class="text-right mb-0 ">Last Update:</p>
            <p class="text-right mb-0"><b>{{created}}</b></p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Terkonfirmasi</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{positif}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Dalam Perawatan</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dirawat}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-medkit fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Sembuh</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{sembuh}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Meninggal</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{meninggal}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-minus-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Update 10 Hari Terakhir</h6>
                    <select id="selectBox" onchange="changeFunc(value)" class="browser-default custom-select" style="width: 180px;">
                        <option value="p">Jumlah Positif</option>
                        <option value="s">Jumlah Sembuh</option>
                        <option value="d">Jumlah Dirawat</option>
                        <option value="m">Jumlah Meninggal</option>
                      </select>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="areaChart" data-json="{{ harian }}"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Situasi Vaksinasi Penduduk (%)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="padding-bottom: 2.4rem;">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myChart" data-json="{{ vaksin }}">
                        </canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-warning"></i> Belum Vaksin
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Vaksin 1
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Vaksin 2
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-end mb-4">
<a href="/provinsi" class="btn btn-info btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Lihat Data per provinsi</span>
</a>
</div>
<!-- /.container-fluid -->
{% endblock %}